.dc-chart g.row text {
    fill: black;
}

#acm-icon {
    height: 5%;
    margin-right: 1em;
}

pre {
    font-family: Courier, monospace;
    background: #EEEEEE;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.1) inset;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 24px;
    margin: 24px 0;
}

/* .Function { font-weight: bold; }
.Normal { font-weight: bold; }
.Identifier { font-weight: bold; }
.Comment { color: #808080; } */